<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swg.dao.UserInfoMapper">

    <update id="updateUserById" parameterType="com.swg.entity.UserInfo">
        update
        t_user_info
        set
        <if test="nick != null and nick != '' ">
            nick = #{nick},
        </if>
        <if test="avatar != null">
            avatar = #{avatar},
        </if>
        <if test="sign != null">
            sign = #{sign},
        </if>
        <if test="birth != null and birth != '' ">
            birth = #{birth},
        </if>
        <if test="gender != null and gender != '' ">
            gender = #{gender},
        </if>
        where
        userId = #{userId}
    </update>
    
    <select id="selectUserInfoByUserIds" resultType="com.swg.entity.UserInfo">
        select * from t_user_info 
        <where>
            <if test="userIdList != null and userIdList.size > 0">
            and userId in
                        <foreach collection="userIdList" item="userId" index="index" open="(" close=")" separator=",">
                            #{userId}
                        </foreach>
            </if>
        </where>
    </select>

</mapper>
