<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swg.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swg.entity.User">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, phone, email, password, salt, createTime, updateTime
    </sql>

    <select id="getUserByPhoneOrEmail" resultMap="BaseResultMap">
        select * from t_user where #{phone} = t_user.phone or #{email} = t_user.email
    </select>

    <update id="updateUserById" parameterType="com.swg.entity.User">
        update t_user
        set
        <if test="phone != null and phone != '' ">
            phone = #{phone},
        </if>
        <if test="email != null and email != '' ">
            email = #{email},
        </if>
        <if test="password != null and password != '' ">
            password = #{password},
        </if>
            where id = #{id}
    </update>
</mapper>
